#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.fixed-header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0; 
  z-index: 100;
}

.content-below-header {
  padding-top: 60px; 
}

.tab-content-container {
  min-height: 500px; 
}